
    .entry-content{
        max-width: 1000px !important;
    }

   
#wrapper_chat {  
    margin:0 auto 60px !important;  
    padding-bottom:25px;  
    background:#efefef;  
/*    width:604px;  */
    width:856px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    margin: 0px auto 0px; 
}  
   
#loginform { padding-top:18px; }  
   
    #loginform p { margin: 5px; }  
    
#main_chat_window{
    width: 97.5%;
    float: left;
    margin: 0 15px 15px;
}   
#chatbox {  
    text-align:left;  
    margin:0 auto;  
    padding:10px;  
    background:#fff;  
    height:304px;  
/*    width:430px;  */
    width:75%;  
    overflow:auto;
    float: left;
}  
   
  
   
#submit { width: 60px; }  
   
.error { color: #ff0000; }  
   
#menu_chat {
  padding: 16px 25px 8.5px;
  width: 94%;
  height:37px;
}
 
.welcome_chat { float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; letter-spacing:0; font-weight:normal; padding:0; line-height:18px;}  
.welcome_chat span {
    font-style: italic;
    font-weight: bold;
}
.logout_chat { float:right; padding:0;}  
.left_chat_menu{
	float:left;
}
.logout_chat button { 
    padding: 0 0 0 0 !important;
}  
   
.msgln { margin:0 0 2px 0; }  

.chat_msg{
    clear: left;
}
.chat_msg .time{
    width: 10%;
    float: left;
    padding: 5px;
}
.chat_msg .userName{
    width: 10%;
    margin-right: 10px;
    padding: 5px; 
    font-weight: bold;
    float: left;
    overflow: hidden;
}
.chat_msg .message{
    width: 72%;
    float: left;
    padding: 5px; 
}

#user_list{
/*    width: 25%;*/
    width: 19%;
    float: left;
    border-left:1px solid #efefef;
    background: #FFFFFF;
    padding: 10px;
    height: 304px;
}
#user_list span{
    font-weight: bold;
    float: left;
    clear: both;
}

.chat_txtField{
    margin:0 15px !important;
    float: left !important;
    width:815px;
}
.clr{
    clear: both;
}
#msg {  
    width:295px;  
    height: 50px;
    padding: 5px;
    border:1px solid #848484;
    float: left;
    margin: 10px 0 0 0;
    background: #FFFFFF;
    text-align: left;
    overflow: auto;
}

#send_btn {
  float: left !important;
  height: 31px !important;
  margin: 7px 0 0 4px !important;
  width: 71px !important;
}

#symbols {
    float: right;
    margin:0;
    width:302px;
}

#symbols ul{
	display:none;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#symbols ul li{
    float: left;
    display: inline;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.group_detail .listing_title{
    color: #EF901C;
    font-family: 'AdelleBasic-Bold';
    font-size: 23px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin: 86px 0 0;
    text-align: left;
    width: 100%;
}

.group_detail .group_img_dsc{
    color: #999999 !important;
    float: left !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 24px !important;
    line-height: 24px !important;
    margin: 15px 10px 0 0!important;
    padding: 0 0 0 !important;
    width: 420px !important;
}

.descn_style{
    float: left;
    width: 100%;
    margin: 0 0 17px;
    color: #535353 !important;
    font-size: 13px !important;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
}

.praticipant_style{
    float: left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	letter-spacing:0;
	padding:6px 0 0 0;
	line-height:18px;
}

.group_detail{
    margin: 0 0 10px 0;
    padding: 0 62px;
    float: left;
}

.font12{
    font-size: 12px !important;
    line-height: 12px !important;
    color: #000 !important ;
}
.register_div {
  background: none repeat scroll 0 0 #F3F3F3;
  border-radius: 5px 5px 5px 5px;
  float: right;
  height: 74px;
  padding: 10px 10px 10px 13px;
  width: 403px;
  margin-top:85px;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
}
.register_div_inner{
	padding-top:10px;
}
.register_div input[type="text"] { display: inline-block;padding: 0px 0 0 10px; margin: 0px; background: #fff; float: none; box-shadow: none; height: 30px; line-height: 30px; width: 200px;  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 0px;}
.register_div input[type="button"] { margin: 0px; color: #fff; padding: 1px; }
#nickname_reg {
  height: 27px;
  margin: 0px 10px 0 0px;
  padding: 4px 12px;
  width: 210px;
  float: left;
}

.orange_btn03{
    background: url("images/and_r.png") no-repeat;
   float: left;
    height: 37px;
    margin: 5px 0 0 !important;
    width: 141px;
    border: none !important;
    cursor: pointer;
}

.group_img_dsc{
    padding-top: 0 !important;
}

.orange_btn{
    background: url("images/btn-orange.png") no-repeat scroll center center / 118px 34px rgba(0, 0, 0, 0);
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    text-align: center;
    width: 120px;
}
.chat_preview_style {
  background-color: #FFFFFF;
  float: left;
  font-weight: normal !important;
  height: 54px;
  margin: 7px 0 0;
  overflow: hidden;
  width: 88%;
  border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
 padding:8px;
}


.preview_con {
    float: left;
    margin: 10px 0 0;
    width: 100%;
}

.preview_con label{
    float: left;
    margin: 0 0 0 13px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
}

/* message styling */
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
}
.error {
color: #D8000C;
background-color: #FFBABA;
}
.disable_msg {
color: #D8000C;
background-color: #FFBABA;
padding: 10px; 
}
.input_style {
    float: left;
    width: 513px;
}
.sendCon{
    float: left;
    width: 100%;
}

.sendCon label{
    float: left;
	margin:0px 0 0 13px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
}

.sendCon input{
    background: none repeat scroll 0 0 #FFFFFF !important;
    border-radius: 4px 4px 4px 4px;
    float: left !important;
    height: 22px !important;
    margin: 7px 0 0 !important;
    width: 383px !important;
	border:none !important;
}
.disable_msg {
color: #D8000C;
background-color: #FEEFB3;
padding: 10px; 
}
#hover{
    padding:10px; 
    position:absolute; 
    display:none; 
    z-index:1000; 
    background-color:#FFFFCC; 
    border:1px solid #999999; 
}
.toolbar{position:relative; padding-top:2px; }
.panel{display:inline-block; padding:0px 3px; overflow:hidden; vertical-align:top; }
.panel:hover{
    
  overflow: visible !important;
  position: relative;
  z-index: 99;

}
#content{
    overflow: visible;
}

/*.symbol_style_img {
    left: -9px;
    opacity: 0.5;
    position: absolute;
    top: 363px;
    width: 102%;
}*/
/* message styling */
.create_study_group { 
	background: url('images/btn-orange.png') no-repeat center center;
	background-size: 150px 37px;
	box-shadow: 0;
	border: 0;
	cursor: pointer;
	margin: 0 auto;
	height: 35px;
	color: white !important;
	width: 150px;
	line-height:35px;
	text-align:center;
	font-size:13px !important;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-top:6px !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#reg_user_for_chat_rsp{
	padding:5px 0 0;
}

#unreg_user_for_chat{
	color: #333;
	text-decoration:none;
}

#unreg_user_for_chat :hover{
	text-decoration: underline;
}